
<ul class="metismenu" id="menu">
    <li>
        <a href="{% url 'dashEt' %}" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-home-circle'></i>
            </div>
            <div class="menu-title">Dashboard Etudiant</div>
        </a>
        
    </li>
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class="bx bx-category"></i>
            </div>
            <div class="menu-title">Taches</div>
        </a>
        <ul>
            
            <li> <a href="{% url 'ListeTacheEt' %}"><i class="bx bx-right-arrow-alt"></i>liste des taches</a>
            </li>
           
        </ul>
    </li>
    <li>
        <a href="{% url 'profileEt' %}" class="has-arrow">
            <div class="parent-icon"><i class="bx bx-category"></i>
            </div>
            <div class="menu-title">Profile</div>
        </a>
        
    </li>
  
</ul>
