{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet"  href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">

        <style>
         body{
            
             background-image: url("{% static 'bg/register.svg' %}");
             background-repeat: no-repeat;
             background-size: cover;
            height: 700px;
         }
    
    </style>
</head>
<body>


    <div class="d-flex justify-content-center align-item-center">

        <div class="card justify-item-center" style="width: 40rem; margin-top:4%; padding:3%;">
            <div class="card-body">
              <h5 class="card-title text-center">Modifier le Compte</h5><br>
              
              <form action="" method="POST" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </div>
                    <div class="col-md-6">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </div>
                    
                  </div>
                
                <div class="row">
                    <div class="col-md-6">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class=" col-md-6">
                        {{ form.role.label_tag }}
                        {{ form.role }}
                    </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                    {{ form.numero.label_tag }}
                    {{ form.numero }}
                </div>
                <div class="col-md-6">
                    {{ form.date_naissance.label_tag }}
                    {{ form.date_naissance }}
                </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                    </div>
                    <div class="col-md-6">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                    </div>
                </div> <br>
                <div class="row">
                    <input class="btn btn-primary btn-block" type="submit" value="Modifier">
                </div>
               
               </form>
            </div>
          </div>

    </div>
    

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

<script>
        $(function() {
            $("#date_naissance").datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:2030'
            });
        });
    </script>
    
</body>
</html>