{% extends "enseignant/dashboard.html" %}

{% block content %}


<div class="d-flex justify-content-center align-items-center">

    <div class="justify-item-center" style="width: 50%;">
        <h2>Enregistrer une Tache</h2> <br>

        <div class="card">
            <div class="card-body" >
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
    
                    {{form.as_p}}
    
                    
                    <div class="row">
                        <input class="btn btn-primary btn-block" type="submit" value="Enregistrer">
                    </div>
                   
                   </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}